body {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(255, 255, 102);
  padding-top: 70px;
}

#hello {
  color: rgb(255, 255, 102);
  font-size: 50px;
  animation-name: transition;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

}

@keyframes transition {
  from {color: rgb(255, 255, 102);}
  to {color: rgb(64, 64, 64);}
}

#hello2 {
  color: rgb(255, 255, 102);
  font-size: 50px;
  animation-name: transition2;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes transition2 {
  from {color: rgb(255, 255, 102);}
  to {color: rgb(64, 64, 64);}
}

#hello3 {
  color: rgb(255, 255, 102);
  font-size: 50px;
  animation-name: transition3;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes transition3 {
  from {color: rgb(255, 255, 102);}
  to {color: rgb(64, 64, 64);}
}

.welcome {
  margin: auto;
  width: 50%;
  padding-top: 60px;
  text-align: center;
}

#intro {
  color: rgb(64, 64, 64);
  font-size: 20px;
}

.enter {
  background-color: rgb(255, 255, 102);
    border: none;
    color: rgb(255, 255, 102);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    animation-name: buttonTrans;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes buttonTrans {
  from {background-color: rgb(255, 255, 102);}
  to {background-color: #4CAF50;}
  from {color: rgb(255, 255, 102);}
  to {color: white;}
}

.button {
    padding-top: 20px;
}

.intro {
  margin: auto;
  text-align: center;
  width: 40%;
}

#aboutMe {
  color: rgb(64, 64, 64);
  font-size: 35px;
  font-style: italic;
}

#introP {
  color: rgb(64, 64, 64);
  font-size: 20px;
}

#profilePic {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

#navBar {
  background-color: rgb(64, 64, 64);
}

#brand {
  color: white;
  font-size: 25px;
}

.active {
  color: rgb(64, 64, 64);
  font-size: 18px;
}

#exp {
  color: white;
  font-size: 18px;
}

#proj {
  color: white;
  font-size: 18px;
}

#cont {
  color: white;
  font-size: 18px;
}

#abMe {
  color: white;
  font-size: 18px;
}
